* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Russo One', sans-serif;
    background-image: url('starrybg.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    text-align: center;
}

.hello {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
}

.profile-pic {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
}

p {
    font-size: medium;
    margin: 20px auto;
}

.email-link {
    color: rgb(40, 129, 255);
    text-decoration: none;
    font-weight: bold;
}

.poof {
    display: none;
}

.magic {
    color: rgb(27, 88, 255);
}

.gamer {
    color: rgb(149, 0, 255);
}

.porfoliopage {
    background-image: url('starrybg.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    min-height: 100vh;
    padding: 20px;
    font-family: Russo One, sans-serif;
    text-align: center;
}

.servers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    justify-content: center;
}

.server-card {
    background-color: rgb(47, 47, 47);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 7px;
    color: #ffffff;
    width: 300px;
    height: 250px;
    border: #0091ff 2px solid;

}

.server-card img {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    object-fit: cover;
    margin: auto;
}

hr {
    border: 1px solid #ffffffb6;
    margin: 20px 0;
}

.porfoliopage h1 {
    font-size: 70px;
    margin-bottom: 10px;
    font-family: Orbitron, sans-serif;

}

#intro {
    font-size: 20px;
    margin-bottom: 30px;
}

.server-card h3 {
    font-size: 24px;
    font-family: 'Anta', sans-serif;
    margin: 0;
}

.back-button a {
    padding: 30px;
    font-size: 20px;
    color: rgb(141, 18, 255) !important;
    text-decoration: none;
}

.servers a {
    color: #ffffff;
    text-decoration: none;
}